# Database
MONGODB_URI=mongodb://localhost:27017/steam-diploma

# Payload
PAYLOAD_SECRET=

# Auth.js
AUTH_SECRET=
AUTH_URL=http://localhost:3000
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# AI
GOOGLE_GENERATIVE_AI_API_KEY=

# Steam
STEAM_API_KEY=

# Telegram
TELEGRAM_BOT_TOKEN=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
